* {
  box-sizing: border-box;
  text-transform: capitalize;
  
}
 
a {
    text-decoration: none;
    color: black;
        
  }

figure{
    all: initial;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 26px;   
}

h4 {
  
  margin: 0;
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0; 
}

li {
    list-style-type: none;
  }

body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    scroll-behavior: smooth 
}

.head {
    /*background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*fijar el header a la parte superior de la pantalla*/
    width:100%; 
    background-color: white;
    padding: .5em 2rem;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    position: fixed; 
    left: 0; 
	  top: 0; 
 
}

.head .svg{
    width:1.8em;
    height:1.8em;
    fill:black;
  }

  .logo{
    margin-left: 1rem;

}  

 .btn_hamburger{
    display: block;
    cursor: pointer;
  }

 
  .head_nav{
    /*display: flex;
    flex: 66.67%;
    justify-content: space-evenly;
    align-items: center;*/
    width:100%;
    display: none; 
    height:0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex: 60%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
   
}

 .head_nav.activo{
    /*display: block; */
    height:20vh; /* agregar un link al menu hamburguesa*/
    pointer-events: auto;
  }
  .head_nav_ul{
    flex-direction: column;
    
  }
  .head_nav_ul_li{
    margin: 1rem 0;
    
  }

  .habilidades_lista{
    display: none;
    margin-left: 4rem;
  }

  .habilidades_titulo{
    margin-bottom: 0;
    padding-bottom: 0;
  }
 

   @media screen and (min-width:480px){
 
    .btn_hamburger{
      
      display: none;
      
    }
    
    .head_nav{
       pointer-events: auto;
       height: auto;
       display: flex;
       align-items: flex-end;
                  
    }
    .head_nav_ul{
      display: flex;
      flex-flow: row nowrap;     
      justify-content:flex-end;
      
    }
    .head_nav_ul_li{
      margin: 0 .5em;
    }
  
  }

 .inicio{    
    margin-top: 80px;
    background: linear-gradient(169deg, rgba(198,198,205,1) 0%, rgba(219,219,216,1) 42%,
    rgba(244,244,238,1) 54%, rgba(239,239,237,1) 66%, rgba(234,235,235,1) 95%, rgba(248,249,249,1) 100%);
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

 }
 

 .inicio_link_btn{    
    font-size: 20px;  
    width: 5rem;
    background-color: #3d3d3d;
    color: aliceblue;
    padding: .5rem .5rem;
    
        
 }

 .titulo{
    margin-bottom: .1rem;
    
 }

 .inicio_parrafo{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;    
    
 }

 .contactame{    
    min-height: calc(100vh - 105px);  
    background-color: #e4e7f1;
    display: flex;
   
 }

 .contactame_parrafo{
    background-color: #c6dfeb;
    width: 96%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    text-align: center;
    
}
  
.icons{    
    
    margin-top: 9%;  
    
}

.icons-error{
  margin-top: 5%;  
}

.icon{
  margin-left: 2rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;

  }

  #inicio, #proyectos{
    scroll-margin-top: 100px;
    
  }

  /*Seccion proyectos*/

  .proyectos_titulo {    
    text-align: center;
}

.cards {
    display: inline-block;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 1px rgba(211, 211, 211, 0.486) solid;
    margin: 10px;
   

}

.proyecto_extra{
  display: none;
}


.cards:hover {
    transition: 0.6s;
    box-shadow: 5px 5px 20px lightgray;
}

.cards img {
    transition: 0.2s;
    width: 180px;
    border-radius: 20%;
    margin-bottom: 1px;
    padding: 1px;
}

.main_container {    
    margin-top: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /*align-items: center;*/ /*Saque porque aplique flex star en pantalla completa se iban al centro, pendiente, aplicar media para dar espacio al titulo*/
    min-height: 100vh;
    align-content: flex-start;
}

.social_media {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.social_media a i {
    color: black;
    font-size:x-large;
    transition: .5s;
    padding: 1px 0;

}

.social_media a i:hover {
    transition: .5s;
    transform: scale(1.8);
}


/* formulario */
.formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
      
}

textarea, input{
  width: 100%; /*cambiar para ajustar a la pantalla*/
  max-width: 300px; /*ayuda con la responsividad de los input y el textarea*/
  padding: 6px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid gray;
}

input:focus, textarea:focus{
  border-bottom: 2px solid #5D5E61;
}

textarea::-webkit-scrollbar{
  width: .4rem;
  
}

textarea::-webkit-scrollbar-thumb{
  background-color: #5D5E61;
  border-radius: 5px;
}

.formulario__input-error {
  margin-top: 2px; 
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  color: #d30d0d;
  margin-top: 2px; 
  font-size: 12px;
  margin-bottom: 0;
  display: block;
}

.formulario__grupo-btn-enviar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
      
}

.formulario__label{
 cursor: pointer;
}

.formulario__grupo-input{
  position: relative;
}

.formulario__validacion-estado {
  position: absolute;
  right: 5px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__grupo_nombre  .formulario__validacion-estado{
  right: 14px; /* Ajusta el valor según sea necesario */
 
}

.formulario__mensaje{
  height: 20px;
  line-height: 20px;
  background-color: #f38181;
  padding: 0 15px;
  border-radius: 3px;
  padding: 0;
  margin-top: 0.3rem;
  display: none;
    
}

.formulario__mensaje p{
  margin: 0;
  
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje-exito {
  margin: 0 0 0;
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  
  display: block;
}

.formulario__btn {
  margin-top: 0.5rem;
  width: 35%;   
  padding: .1rem; 
}

/*Estilos para validar campos*/

.formulario__grupo-correcto .formulario__validacion-estado{
  color: #1ED12D;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
  color: #d30d0d;
  
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
  color: #d30d0d;
  opacity: 1;
  
}


/*media query */

@media screen and (min-width:1280px){ 

  .habilidades_lista{
      display: block;
      text-align:justify;
      line-height: 3;
    }

  .habilidades{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
  }
   
  .icons, .icons-error{
      margin-top: 3.8%;  
    }

  .proyectos_titulo {    
      margin-bottom: 0%;
  }

  .main_container {   

      min-height: unset;      
      height: 85vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 0%;
      margin-left: 17.5%;
    
  }

  .cards {
    
     align-items: center;
     margin-top: 0%;
     margin-left: 3rem;
  }  

  .proyecto_extra_tablet{
      display: block;
  
  }
  .head_nav_ul_li.activo {
    background-color: #e8e5e5;
    color: white; 
    padding: .5rem;
    border-radius: 10px; /* Ajusta este valor para cambiar el radio de las esquinas */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
 
}

@media screen and (min-width:1280px){
  .proyecto_extra, .proyecto_extra_tablet{
      display: block;
  }
}


